Package: com.tomaszpoliszuk.magsafecontroller
Depends: firmware (>= 12), mobilesubstrate, preferenceloader
Replaces: com.tomaszpoliszuk.lockscreenbatterymagsafe
Provides: com.tomaszpoliszuk.lockscreenbatterymagsafe
Conflicts: com.tomaszpoliszuk.lockscreenbatterymagsafe
Name: MagSafe Controller
Version: 1.0.2
Architecture: iphoneos-arm
Author: Tomasz Poliszuk
Section: Tweaks
dev: tomaszpoliszuk
