{
	title = "MagSafe Controller";
	items = (
		{
			cell = PSSwitchCell;
			key = enableTweak;
			label = ENABLE_TWEAK;
			default = 1;
			defaults = com.tomaszpoliszuk.magsafecontroller;
			PostNotification = "com.tomaszpoliszuk.magsafecontroller.settingschanged";
			icon = "icons/MagSafeController.png";
			height = 55;
		},
		{
			cell = PSGroupCell;
			label = "Select Mode:";
			key = useNativeGroup;
		},
		{
			cell = PSSegmentCell;
			key = useNative;
			default = 1;
			defaults = com.tomaszpoliszuk.magsafecontroller;
			PostNotification = "com.tomaszpoliszuk.magsafecontroller.settingschanged";
			validValues = (
				0,
				1
			);
			validTitles = (
				Custom,
				Native
			);
			height = 55;
		},
		{
			cell = PSGroupCell;
			label = "Control elements:";
		},
		{
			cell = PSEditTextCell;
			key = boltScale;
			label = "Scale of Bolt";
			default = 100;
			defaults = com.tomaszpoliszuk.magsafecontroller;
			PostNotification = "com.tomaszpoliszuk.magsafecontroller.settingschanged";
			noAutoCorrect = 0;
			keyboard = numbers;
			isNumeric = 1;
			placeholder = "100%";
		},
		{
			cell = PSEditTextCell;
			key = ringScale;
			label = "Scale of Ring";
			default = 100;
			defaults = com.tomaszpoliszuk.magsafecontroller;
			PostNotification = "com.tomaszpoliszuk.magsafecontroller.settingschanged";
			noAutoCorrect = 0;
			keyboard = numbers;
			isNumeric = 1;
			placeholder = "100%";
		},
		{
			cell = PSEditTextCell;
			key = lineWidth;
			label = "Ring Line thickness";
			default = 24;
			defaults = com.tomaszpoliszuk.magsafecontroller;
			PostNotification = "com.tomaszpoliszuk.magsafecontroller.settingschanged";
			noAutoCorrect = 0;
			keyboard = numbers;
			isNumeric = 1;
			placeholder = "24";
		},
		{
			cell = PSEditTextCell;
			key = labelFontSize;
			label = "Label Font Size";
			default = 24;
			defaults = com.tomaszpoliszuk.magsafecontroller;
			PostNotification = "com.tomaszpoliszuk.magsafecontroller.settingschanged";
			noAutoCorrect = 0;
			keyboard = numbers;
			isNumeric = 1;
			placeholder = "24";
		},
		{
			cell = PSSwitchCell;
			key = useChargingRingBackground;
			label = "Charging Ring Background";
			default = 1;
			defaults = com.tomaszpoliszuk.magsafecontroller;
			PostNotification = "com.tomaszpoliszuk.magsafecontroller.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = useSplashEffect;
			label = "Splash Effect";
			default = 1;
			defaults = com.tomaszpoliszuk.magsafecontroller;
			PostNotification = "com.tomaszpoliszuk.magsafecontroller.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = "Select Colors:";
		},
		{
			cell = PSStaticTextCell;
			label = Default;
		},
		{
			cell = PSSegmentCell;
			key = selectedColor;
			default = 0;
			defaults = com.tomaszpoliszuk.magsafecontroller;
			PostNotification = "com.tomaszpoliszuk.magsafecontroller.settingschanged";
			validValues = (
				0,
				1,
				2
			);
			validTitles = (
				Green,
				Yellow,
				Red
			);
			height = 55;
		},
		{
			cell = PSStaticTextCell;
			label = "in Low Power Mode";
		},
		{
			cell = PSSegmentCell;
			key = selectedLowPowerModeColor;
			default = 1;
			defaults = com.tomaszpoliszuk.magsafecontroller;
			PostNotification = "com.tomaszpoliszuk.magsafecontroller.settingschanged";
			validValues = (
				0,
				1,
				2
			);
			validTitles = (
				Green,
				Yellow,
				Red
			);
			height = 55;
		},
		{
			cell = PSStaticTextCell;
			label = "Blur in background";
		},
		{
			cell = PSSegmentCell;
			key = blurBackground;
			default = 2;
			defaults = com.tomaszpoliszuk.magsafecontroller;
			PostNotification = "com.tomaszpoliszuk.magsafecontroller.settingschanged";
			validValues = (
				1,
				2
			);
			validTitles = (
				Light,
				Dark
			);
			height = 55;
		},
		{
			cell = PSGroupCell;
			label = " ";
		},
		{
			cell = PSButtonCell;
			label = RESET_SETTINGS;
			action = resetSettings;
			alignment = center;
		},
		{
			cell = PSGroupCell;
			label = RELATED_LINKS;
		},
		{
			cell = PSButtonCell;
			label = SOURCE_CODE;
			action = sourceCode;
			icon = "icons/code.png";
		},
		{
			cell = PSButtonCell;
			label = KNOWN_ISSUES;
			action = knownIssues;
			icon = "icons/bug.png";
		},
		{
			cell = PSButtonCell;
			label = TOMASZ_POLISZUK_AT_BIGBOSS;
			action = TomaszPoliszukAtBigBoss;
			icon = "icons/packages.png";
		},
		{
			cell = PSButtonCell;
			label = TOMASZ_POLISZUK_AT_GITHUB;
			action = TomaszPoliszukAtGithub;
			icon = "icons/github.png";
		},
		{
			cell = PSButtonCell;
			label = TOMASZ_POLISZUK_AT_TWITTER;
			action = TomaszPoliszukAtTwitter;
			icon = "icons/twitter.png";
		},
	);
}
